h1{
    text-shadow:2px 2px;
 color: blue;
}


body{

    background-image:url("/home/abdirahman/Desktop/Birthday-project/image.jpg" alt="Ghana flag");
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    image
}


.container{
        background-color: #144940;
        padding: 20px;
        margin-left: 550px;
        margin-right: 550px;
        margin-top: 40px;
        text-align: center;
        box-shadow:30px 30px 74px -19px #144940;
        border-radius:15px;
}
    
#footer {
    padding: 10px;
    text-align: right;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 550px;
    font-size: 80px;
  }

  .table{
      background: rgba(0,0,0,0,0.75);
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;


  }

  .content{
         width:650px;
         height: 300px;
         background:url("/home/abdirahman/Desktop/Birthday-project/cheery.jpg");
         text-align: center;
         padding:20px;
         margin-right: 1200px;
         color: aliceblue;
         margin-top: 100;
         box-shadow:30px 30px 74px -19px #144940;
         position: relative;
         border-radius: 50px;


  }


  a{
    color: goldenrod;
}

  .button{
      font-size: 30px;
  }
     
input{
    display: block;
    margin-left: 300px;
}

.kimza{
    color: whitesmoke;
    font: 30px;
    
}
img{
    border-radius: 80px;
    float:left;

}

.azhar{
    position: absolutte;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
}


.azhar h1{
    color:#fff;
    margin-bottom: 100px;
}

.button{
    background: #fff;
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0,0.75);
    margin-top:25px;
    text-decoration: none;
    transform: 0.4s;
}

.button:hover{
    background:green;
    color:whitesmoke;
}

h2{
    font-size: 20px;
}